<a href="https://colab.research.google.com/github/stanlysefer/ejercicio_for/blob/main/ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Instrucción repetitiva for

In [ ]:
#EJERCICIO 1: mostrar los números del 1 al 10 sin usar instrucciones repetitivas
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
#EJERCICIO 2: mostrar los números de 1 al 10 utilizando while
 
contador = 1
print(contador)
while contador <10:
   #Contador = contador + 1
   contador += 1
   print(contador)

In [ ]:
# EJERCICIO 3: mostrar los números del 1 al 10 usando la instrucción for y una lista como iterable

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(i)

In [ ]:
# EJERCICIO 4: mostrar los números del 1 al 10, utilizando la instrucción for y range

for i in range(1,11):
  print(i)

In [ ]:
# EJERCICIO 5: mostrar una frase 10 veces, usando la instrucción for y una lista
lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} ¡sistemas, la mejor..!")

In [ ]:
# EJERCICIO 6: mostrar la , silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los dias de la semana

dias_semana = ["lu", "ma", "mi", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

In [ ]:
# EJERCICIO 7: mostrar una lista de distintos tipos de datos usando for 

lista =[1, 3.4, 9, True , "nestor", 8, "guanenta"]
for i in lista:
  print(i)

In [ ]:
# EJERCICIO 8: ingrese su nombre y mostrarlo letra a letra, usando for

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# EJERCICIO 9: ingresar nombre y mstrarlo letra a letra usando for cambiando por asterisco * a la vocal e

nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == "e":
    print("*")
  else:
    print(letra)

In [ ]:
# EJERCICIO 10: ingrese su nombre y mostrarlo letra a letra,en mayúscula, usando for.

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# EJERCICIO 11: imprimirlistas de números utilizando for y range
print(" números del 0 al 9")
for i in range(10):
  print(i)


print("números del 1 al 10")
for i in range(1,11):
  print(i)


print("10 veces la frase")
for i in range(10):
  print("sistemas la mejor")


print("10 veces la frase i = ")
for i in range(10):
  print("i = " + str(i))


print("10 veces la frase i = ")
for i in range(10):
  print(f"i = {i}")

print("rango del 7 al 18, incrementandode 4 en 4")
for i in range(7,19,4):
  print(i)


print("convierte rango en lista a, y la muestra")
a = list (range(1000))
print(a)

In [ ]:
#DESARROLLO
#1.Dada la siguiente Lista de números, [20, 21, 30, 41, 50, 51, 201] mostrar en pantalla solo los que NO terminan en 1.

list=[20, 21, 30, 41, 50, 51, 201]
for n in list:
  if n % 10 == 0:
    print(n)

In [ ]:
#2.Mostrar 1000 veces la palabra "Programacion"
for i in range(1,1000):
  print(f"{i} programacion")

In [ ]:
#3.Del conjunto de cadenas ["E", "F", "M”, *A"] que corresponden a las iniciales de Los primeros cuatro meses del año, mostrar el nombre completo de dichos meses.

primeros_meses= ["E", "F", "M", "A"] 
meses_año=["ENERO", "FEBRERO", "MARZO", "ABRIL"]
for i in meses_año:
  print(i)

In [ ]:
#4.Leer un texto y determinar cuántas veces dicho texto contiene cada una de las vocales en minuscula y/o mayúscula

texto = input("Ingresa un texto: ")
vocales = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

for letra in texto:
    if letra in vocales:
        vocales[letra] += 1

print("Vocales en el texto:")
for vocal, cantidad in vocales.items():
    print(f"{vocal}: {cantidad}")

#ejercicios 
1. Dada la siguiente Lista de números, [20, 21, 30, 41, 50, 51, 201] mostrar en
pantalla solo los que NO terminan en 1.

2. Mostrar 1000 veces la palabra "Programacion"

3. Del conjunto de cadenas ["E", "F", "M”, *A"] que corresponden a las
iniciales de Los primeros cuatro meses del año, mostrar el nombre completo de
dichos meses.

4. Leer un texto y determinar cuántas veces dicho texto contiene cada una de
las vocales en minuscula y/o mayúscula